// Mock Sprockets asset-path helper
@function asset-path($path) {
  @return "/assets/#{$path}";
}

@import '../sass/rewrite-url/integrations/sprockets';
@import '../sass/rewrite-url';

.logo {
  background-image: url("logo.png");
}

@font-face {
  font-family: Font;
  src: url("font.woff") format('woff');
}
