@import '../sass/rewrite-url';

$rewrite-url-relative: append-transformed;

@function append-transformed($path) {
  @return "#{$path}/transformed";
}


pre {
  background-image: url("quoted");
}

pre {
  background-image: url(unquoted);
}

a {
  background-image: url("http://foo.com/quoted.jpg");
}

a {
  background-image: url(http://foo.com/unquoted.jpg);
}
