@import "../sass/rewrite-url";

a {
  background-image: url("quoted.jpg");
  background-image: url(unquoted.jpg);
  background-image: url("http://foo.com/quoted.jpg");
  background-image: url(http://foo.com/unquoted.jpg);
}

