$rewrite-url-relative: rewrite-url-compass-asset-path !default;

// Compass doesn't have asset-path, only specific functions, such as font-url and image-url.
// Define our own
@function rewrite-url-compass-asset-path($path) {
  @return call("#{compass-asset-type($path)}-url", $path, $only-path: true);
}

// Crude asset type detection
$asset-ext-types: (
  webp: image,
  gif:  image,
  png:  image,
  jpg:  image,
  ico:  image,
  eot:  font ,
  svg:  font , // !
  ttf:  font ,
  woff: font
);
// Maintaining a map is prone to breaking (e.g. svg could be an image),
// Need another approach, or native support from Compass (like Sprockets does)

@function compass-asset-type($path, $default: image) {
  @each $ext, $type in $asset-ext-types {
    @if asset-path-extname-eq($path, $ext) {
      @return $type;
    }
  }
  @return $default;
}

@function asset-path-extname-eq($path, $ext) {
  @return ".#{$ext}" == str-slice($path, - str-length($ext) - 1);
}
